<h1>Posts</h1>
<% @posts.each do |post| %>
    <% if logged_in? %>
        Author: <%= post.user.name %><br>
    <% else %>
        Log in to see the author<br>
    <% end %>
    Title: <%= post.title %><br>
    Post:<br><%= post.text %><br>
<% end %>
