<h1>Exclusive</h1>
<% if logged_in? %>
    <%= link_to  "Log Out", signout_path %><br>
    <%= link_to  "Create a Post", new_post_path %>
<% else %>
    <%= link_to  "Log in", sessions_new_path %>
<% end %>
<br><%= link_to "Show Posts", posts_path %>
